---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-text-mining/resources/d9pwm) course resource._

---

# Assignment 1

In this assignment, you'll be working with messy medical data and using regex to extract relevant infromation from the data. 

Each line of the `dates.txt` file corresponds to a medical note. Each note has a date that needs to be extracted, but each date is encoded in one of many formats.

The goal of this assignment is to correctly identify all of the different date variants encoded in this dataset and to properly normalize and sort the dates. 

Here is a list of some of the variants you might encounter in this dataset:
* 04/20/2009; 04/20/09; 4/20/09; 4/3/09
* Mar-20-2009; Mar 20, 2009; March 20, 2009;  Mar. 20, 2009; Mar 20 2009;
* 20 Mar 2009; 20 March 2009; 20 Mar. 2009; 20 March, 2009
* Mar 20th, 2009; Mar 21st, 2009; Mar 22nd, 2009
* Feb 2009; Sep 2009; Oct 2010
* 6/2008; 12/2009
* 2009; 2010

Once you have extracted these date patterns from the text, the next step is to sort them in ascending chronological order accoring to the following rules:
* Assume all dates in xx/xx/xx format are mm/dd/yy
* Assume all dates where year is encoded in only two digits are years from the 1900's (e.g. 1/5/89 is January 5th, 1989)
* If the day is missing (e.g. 9/2009), assume it is the first day of the month (e.g. September 1, 2009).
* If the month is missing (e.g. 2010), assume it is the first of January of that year (e.g. January 1, 2010).
* Watch out for potential typos as this is a raw, real-life derived dataset.

With these rules in mind, find the correct date in each note and return a pandas Series in chronological order of the original Series' indices.

For example if the original series was this:

    0    1999
    1    2010
    2    1978
    3    2015
    4    1985

Your function should return this:

    0    2
    1    4
    2    0
    3    1
    4    3

Your score will be calculated using [Kendall's tau](https://en.wikipedia.org/wiki/Kendall_rank_correlation_coefficient), a correlation measure for ordinal data.

*This function should return a Series of length 500 and dtype int.*

In [1]:
#!cat dates.txt

In [2]:
import pandas as pd
import numpy as np
doc = []
with open('dates.txt') as file:
    for line in file:
        doc.append(line)

df = pd.Series(doc)
#df.head(10)

In [3]:
#regExp = '|'.join( [regexpDateNumeric, regexpDateYearOnly, regexpDateMonthInWords]) 
regExp = r'(?:(?:(?:(?P<m1>0*?[1-9]|[1][0-2])\/(?:(?P<d1>[0123]?\d)\/)?)(?P<y1>(?:19|20)?\d{2}))|(?:(?:(?P<m1b>0?[1-9]|[1][0-2])-(?:(?P<d1b>[0123]?\d)-))(?P<y1b>(?:19|20)?\d{2}))|(?:(?P<d2b>\d{1,2}\s{,5})?(?P<m2>(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec))(?:\w*?)[ .,]?(?P<d2>\s{0,5}[0-3]?\d[A-Za-z]{0,2})?[,]?\s{1,5}(?P<y2>(?:19|20)?\d{2}))|(?:(?P<y_only>(?:19|20)\d{2})))(?=\b)'

In [4]:
#dates_all = df.str.findall(regExp)
## Filter out empty
#dates_all = [ list(filter(lambda x: x not in ['/', ''], d[0]))[0] for d in dates_all  ]

In [5]:
dates_all = df.str.extract(regExp)

/opt/conda/lib/python3.6/site-packages/ipykernel/__main__.py:1: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  if __name__ == '__main__':

In [6]:
#dates_all.shape

In [7]:
#dates_all.isnull().all(axis=1)

In [8]:
#dates_all.xs(0, level='match')  # Likely incorrect

In [9]:
#dates_all = dates_all.xs(0, level='match')

In [10]:
dates_all

      m1   d1    y1  m1b  d1b  y1b  d2b   m2   d2   y2 y_only
0     03   25    93  NaN  NaN  NaN  NaN  NaN  NaN  NaN    NaN
1      6   18    85  NaN  NaN  NaN  NaN  NaN  NaN  NaN    NaN
2      7    8    71  NaN  NaN  NaN  NaN  NaN  NaN  NaN    NaN
3      9   27    75  NaN  NaN  NaN  NaN  NaN  NaN  NaN    NaN
4      2    6    96  NaN  NaN  NaN  NaN  NaN  NaN  NaN    NaN
5      7   06    79  NaN  NaN  NaN  NaN  NaN  NaN  NaN    NaN
6      5   18    78  NaN  NaN  NaN  NaN  NaN  NaN  NaN    NaN
7     10   24    89  NaN  NaN  NaN  NaN  NaN  NaN  NaN    NaN
8      3    7    86  NaN  NaN  NaN  NaN  NaN  NaN  NaN    NaN
9      4   10    71  NaN  NaN  NaN  NaN  NaN  NaN  NaN    NaN
10     5   11    85  NaN  NaN  NaN  NaN  NaN  NaN  NaN    NaN
11     4   09    75  NaN  NaN  NaN  NaN  NaN  NaN  NaN    NaN
12     8   01    98  NaN  NaN  NaN  NaN  NaN  NaN  NaN    NaN
13     1   26    72  NaN  NaN  NaN  NaN  NaN  NaN  NaN    NaN
14     5   24  1990  NaN  NaN  NaN  NaN  NaN  NaN  NaN    NaN
15     1   25  2011  NaN  NaN  NaN  NaN  NaN  NaN  NaN    NaN
16     4   12    82  NaN  NaN  NaN  NaN  NaN  NaN  NaN    NaN
17    10   13  1976  NaN  NaN  NaN  NaN  NaN  NaN  NaN    NaN
18     4   24    98  NaN  NaN  NaN  NaN  NaN  NaN  NaN    NaN
19     5   21    77  NaN  NaN  NaN  NaN  NaN  NaN  NaN    NaN
20     7   21    98  NaN  NaN  NaN  NaN  NaN  NaN  NaN    NaN
21    10   21    79  NaN  NaN  NaN  NaN  NaN  NaN  NaN    NaN
22     3   03    90  NaN  NaN  NaN  NaN  NaN  NaN  NaN    NaN
23     2   11    76  NaN  NaN  NaN  NaN  NaN  NaN  NaN    NaN
24    07   25  1984  NaN  NaN  NaN  NaN  NaN  NaN  NaN    NaN
25   NaN  NaN   NaN    4   13   82  NaN  NaN  NaN  NaN    NaN
26     9   22    89  NaN  NaN  NaN  NaN  NaN  NaN  NaN    NaN
27     9   02    76  NaN  NaN  NaN  NaN  NaN  NaN  NaN    NaN
28     9   12    71  NaN  NaN  NaN  NaN  NaN  NaN  NaN    NaN
29    10   24    86  NaN  NaN  NaN  NaN  NaN  NaN  NaN    NaN
..   ...  ...   ...  ...  ...  ...  ...  ...  ...  ...    ...
470  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   1983
471  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   1999
472  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   2010
473  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   1975
474  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   1972
475  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   2015
476  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   1989
477  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   1994
478  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   1993
479  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   1996
480  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   2013
481  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   1974
482  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   1990
483  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   1995
484  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   2004
485  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   1987
486  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   1973
487  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   1992
488  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   1977
489  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   1985
490  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   2007
491  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   2009
492  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   1986
493  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   1978
494  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   2002
495  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   1979
496  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   2006
497  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   2008
498  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   2005
499  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   1980

[500 rows x 11 columns]

In [11]:
dates_all.fillna('', inplace=True)
dates_all['text'] = df
dates_all['date1'] = dates_all.m1 + '/' + dates_all.d1 + '/' + dates_all.y1
dates_all['date1b'] = dates_all.m1b + '/' + dates_all.d1b + '/' + dates_all.y1b
dates_all['date2'] = dates_all.m2 + ' ' + dates_all.d2 + dates_all.d2b + ', ' + dates_all.y2
dates_all['date3'] = dates_all.y_only
dates_all['date'] = dates_all[['date1', 'date1b', 'date2', 'date3']].fillna('').sum(axis=1)
dates_all['date'] = dates_all['date'].map(lambda x: x.lstrip('/, ').rstrip('/, ').replace('//','/'))
dates_all['timestamp'] = pd.to_datetime(dates_all['date'])

In [12]:
pd.__version__

'0.20.1'

In [13]:
dates_all['date'].values

array(['03/25/93', '6/18/85', '7/8/71', '9/27/75', '2/6/96', '7/06/79',
       '5/18/78', '10/24/89', '3/7/86', '4/10/71', '5/11/85', '4/09/75',
       '8/01/98', '1/26/72', '5/24/1990', '1/25/2011', '4/12/82',
       '10/13/1976', '4/24/98', '5/21/77', '7/21/98', '10/21/79',
       '3/03/90', '2/11/76', '07/25/1984', '4/13/82', '9/22/89', '9/02/76',
       '9/12/71', '10/24/86', '03/31/1985', '7/20/72', '4/12/87',
       '06/20/91', '5/12/2012', '3/15/83', '2/14/73', '5/24/88',
       '7/27/1986', '1/14/81', '7/29/75', '6/24/87', '8/14/94',
       '4/13/2002', '8/16/82', '2/15/1998', '7/15/91', '06/12/94',
       '9/17/84', '2/28/75', '11/22/75', '5/24/91', '6/13/92', '7/11/71',
       '12/26/86', '10/11/1987', '3/14/95', '12/01/73', '12/5/2010',
       '08/20/1982', '7/24/95', '8/06/83', '02/22/92', '6/28/87',
       '07/29/1994', '08/11/78', '10/29/91', '7/6/91', '1/21/87',
       '11/3/1985', '7/04/82', '4/13/89', '7/11/77', '4/12/74', '09/19/81',
       '9/6/79', '12/5/87', '01/05/1999', '4/22/80', '10/04/98', '6/29/81',
       '8/04/78', '7/07/1974', '09/14/2000', '5/18/71', '8/09/1981',
       '6/05/93', '8/9/97', '12/8/82', '8/26/89', '10/13/95', '4/19/91',
       '04/08/2004', '9/20/76', '12/08/1990', '4/11/1974', '7/18/86',
       '3/31/91', '5/13/72', '11/14/83', '8/16/92', '10/05/97',
       '07/18/2002', '9/22/82', '2/24/74', '2/03/78', '2/11/2006',
       '8/22/83', '5/04/74', '7/20/2011', '6/17/95', '6/10/72', '10/16/82',
       '12/15/92', '12/8/97', '4/05/89', '12/04/87', '6/20/77',
       '4/27/2006', '07/17/92', '12/22/98', '10/02/96', '11/05/90',
       '5/04/77', '2/27/96', 'Jan 24 , 2001', 'Sep 10 , 2004',
       'May 26 , 1982', 'Jun 28 , 2002', 'May 06 , 1972', 'Oct 25 , 1987',
       'Oct 14 , 1996', 'Nov 30 , 2007', 'Jun 28 , 1994', 'Jan 14 , 1981',
       'Oct 10 , 1985', 'Feb 11 , 1985', 'Feb 10 , 1983', 'Feb 05 , 1992',
       'Oct 21 , 2012', 'Feb 14 , 1995', 'May 30 , 2016', 'Jan 22 , 1996',
       'Oct 14 , 1992', 'Oct 06 , 2003', 'Oct 18 , 1999', 'Nov 11 , 2004',
       'May 30 , 2001', 'Feb 02 , 1978', 'Sep 09 , 1989', 'Mar 12 , 1980',
       'Jun 22 , 1990', 'Sep 28 , 2015', 'Jan 13 , 1972', 'Mar 06 , 1974',
       'Oct 10 , 1974', 'May 26 , 1974', 'Feb 10 , 1990', 'Aug 23 , 2000',
       'May 26 , 2001', 'Oct 21 , 2007', 'Oct 19 , 2016', 'Mar 05 , 1974',
       'Jan 29 , 1994', 'Oct 21 , 1978', 'Aug 18 , 1975', 'Nov 11 , 1996',
       'Oct 01 , 1979', 'Oct 13 , 1986', 'Oct 21 , 1995', 'Jan 24 , 2011',
       'Oct 04 , 1972', 'Aug 23 , 1993', 'Oct 18 , 2006', 'Dec 04 , 1988',
       'Oct 21 , 1983', 'May 26 , 2010', 'Jan 18 , 1990', 'Jun 15 , 1985',
       'Dec 10 , 1982', 'Dec 09 , 1988', 'Aug 18 , 1995', 'Jun 13 , 1974',
       'May 26 , 2008', 'Nov 11 , 2002', 'Aug 17 , 1985', 'Oct 13 , 2016',
       'Jan 14 , 2008', 'Mar 12 , 2004', 'Oct 21 , 1977', 'Aug 10 , 2000',
       'Nov 30 , 1972', 'May 06 , 1993', 'Jan 18 , 1995', 'Apr 11, 1990',
       'May 30, 2001', 'Feb 18, 1994', 'Feb 18, 1981', 'Oct  11, 2013',
       'Jan 24, 1986', 'Jul 26, 1978', 'Dec 23, 1999', 'May 15, 1989',
       'Sep 06, 1995', 'Mar  10, 1976', 'Jan 27, 1983', 'Oct 23, 1990',
       'Aug 12, 2004', 'Sep 01, 2012', 'Jul 25, 1983', 'Aug 11, 1989',
       'Apr 17, 1992', 'Jul 24, 1999', 'Jul 11, 1997', 'Sep  10, 1974',
       'Aug 14, 1981', 'Nov 11, 1988', 'Jun 13, 2011', 'May 14, 1989',
       'Dec 14, 1975', 'Jun 25, 2012', 'Oct 18, 1980', 'May 15, 1998',
       'Oct 14, 1974', 'Jul 25, 1998', 'Jun 15, 1972', 'Jan 07, 1991',
       'Sep  15, 2011', 'Sep , 1985', 'Jun , 2011', 'May , 1986',
       'May , 2016', 'Jul , 1977', 'Jul , 1990', 'Jul , 2003',
       'Oct , 2015', 'May , 1995', 'Feb , 1976', 'Jan , 1995',
       'Feb , 1978', 'May , 2011', 'May , 2004', 'Nov , 2010',
       'Sep , 2012', 'Jan , 2013', 'Nov , 1990', 'Jul , 1981',
       'May , 1983', 'Jul , 1995', 'Apr , 1993', 'May , 2005',
       'Dec , 1998', 'Jan , 2007', 'Feb , 2016', 'Aug , 1979',
       'Oct , 2014', 'Aug , 1988', 'Sep , 2015', 'Apr , 1976',
       'Nov , 1979', 'Feb , 2000', 'Oct , 1986', 'Jun , 2002',
       'Sep , 1981', 'Jun , 2007', 'Apr , 1989', 'Sep , 1999',
       'Oct , 1980', 'Dec , 2009', 'Jul , 1992', 'May , 2006',
       'Aug , 2008', 'Feb , 1993', 'Feb , 2010', 'Apr , 1985',
       'Sep , 1984', 'Apr , 1986', 'Apr , 2007', 'Sep , 1974',
       'Sep , 2013', 'Jul , 1985', 'Aug , 2004', 'May , 2012',
       'Feb , 1977', 'Jan , 1987', 'Sep , 1983', 'Jan , 2013',
       'Mar , 2010', 'Aug , 2009', 'Sep , 2007', 'Dec , 2011',
       'Jan , 2004', 'Nov , 1995', 'Sep , 2008', 'Feb , 1983',
       'Mar , 1983', 'Aug , 1979', 'Jan , 2009', 'Jan , 1993',
       'Mar , 1974', 'Jan , 1994', 'Dec , 1992', 'Nov , 2004',
       'Jan , 1977', 'Mar , 2002', 'Feb , 2000', 'May , 2004',
       'Jul , 2006', 'Feb , 1994', 'Apr , 1977', 'Oct , 1992',
       'Feb , 1995', 'Feb , 1989', 'Dec , 1978', 'Jan , 2007',
       'Jun , 1976', 'May , 2011', 'Mar , 1975', 'Jan , 1978',
       'Jul , 1975', 'Nov , 2012', 'Jun 2, 1999', 'Oct , 1991',
       'Mar , 1973', 'Oct , 1996', 'Jun , 2007', 'Oct , 1995',
       'Apr , 1999', 'May , 2001', 'Mar , 2000', 'Apr , 1988',
       'Dec , 1993', 'Jun , 1974', 'Nov , 1997', 'Jul , 1986',
       'Feb , 1973', 'Mar , 1978', 'Dec , 2007', 'Apr , 1998',
       'Mar , 2005', 'May , 1980', 'Nov , 2007', 'Mar , 1976', '6/1998',
       '6/2005', '10/1973', '9/2005', '03/1980', '12/2005', '5/1987',
       '5/2004', '8/1974', '3/1986', '10/1997', '3/1993', '3/1981',
       '9/2003', '10/1993', '1/1983', '7/1994', '12/2008', '10/1980',
       '8/2003', '12/1975', '11/2010', '7/1997', '7/2014', '9/2001',
       '8/1986', '1/1978', '9/1975', '1/2009', '5/1995', '8/1989',
       '11/2000', '06/1973', '2/1999', '6/2001', '12/1978', '8/2009',
       '7/1973', '1/2014', '09/1975', '12/2012', '5/1999', '7/1989',
       '7/2009', '11/1998', '3/1995', '2/2009', '08/1988', '4/2007',
       '5/2000', '4/2012', '10/2001', '2/1977', '8/2008', '2/1983',
       '5/1979', '1/1992', '11/2008', '12/2014', '4/1974', '10/1981',
       '10/1986', '03/1973', '12/1994', '8/1999', '10/2010', '10/1994',
       '01/2007', '8/2010', '03/1990', '11/2016', '4/2004', '2/1973',
       '7/1987', '8/2000', '8/1975', '5/1977', '3/2000', '9/1984',
       '4/1973', '12/1986', '4/1979', '7/2004', '11/1984', '5/2016',
       '12/2007', '11/1982', '06/1981', '4/2013', '4/1999', '5/2006',
       '10/1978', '12/1989', '2/1974', '11/1986', '4/1983', '10/2014',
       '6/1989', '9/1980', '9/1992', '9/2000', '7/1981', '1/2008',
       '4/2002', '7/1985', '5/2010', '8/2002', '1/1994', '12/2004',
       '3/2003', '7/1991', '7/1982', '1984', '2000', '2001', '1982',
       '1998', '2012', '1991', '1988', '2014', '2016', '1976', '1981',
       '2011', '1997', '2003', '1983', '1999', '2010', '1975', '1972',
       '2015', '1989', '1994', '1993', '1996', '2013', '1974', '1990',
       '1995', '2004', '1987', '1973', '1992', '1977', '1985', '2007',
       '2009', '1986', '1978', '2002', '1979', '2006', '2008', '2005',
       '1980'], dtype=object)

In [14]:
dates_all['timestamp'].values

array(['1993-03-25T00:00:00.000000000', '1985-06-18T00:00:00.000000000',
       '1971-07-08T00:00:00.000000000', '1975-09-27T00:00:00.000000000',
       '1996-02-06T00:00:00.000000000', '1979-07-06T00:00:00.000000000',
       '1978-05-18T00:00:00.000000000', '1989-10-24T00:00:00.000000000',
       '1986-03-07T00:00:00.000000000', '1971-04-10T00:00:00.000000000',
       '1985-05-11T00:00:00.000000000', '1975-04-09T00:00:00.000000000',
       '1998-08-01T00:00:00.000000000', '1972-01-26T00:00:00.000000000',
       '1990-05-24T00:00:00.000000000', '2011-01-25T00:00:00.000000000',
       '1982-04-12T00:00:00.000000000', '1976-10-13T00:00:00.000000000',
       '1998-04-24T00:00:00.000000000', '1977-05-21T00:00:00.000000000',
       '1998-07-21T00:00:00.000000000', '1979-10-21T00:00:00.000000000',
       '1990-03-03T00:00:00.000000000', '1976-02-11T00:00:00.000000000',
       '1984-07-25T00:00:00.000000000', '1982-04-13T00:00:00.000000000',
       '1989-09-22T00:00:00.000000000', '1976-09-02T00:00:00.000000000',
       '1971-09-12T00:00:00.000000000', '1986-10-24T00:00:00.000000000',
       '1985-03-31T00:00:00.000000000', '1972-07-20T00:00:00.000000000',
       '1987-04-12T00:00:00.000000000', '1991-06-20T00:00:00.000000000',
       '2012-05-12T00:00:00.000000000', '1983-03-15T00:00:00.000000000',
       '1973-02-14T00:00:00.000000000', '1988-05-24T00:00:00.000000000',
       '1986-07-27T00:00:00.000000000', '1981-01-14T00:00:00.000000000',
       '1975-07-29T00:00:00.000000000', '1987-06-24T00:00:00.000000000',
       '1994-08-14T00:00:00.000000000', '2002-04-13T00:00:00.000000000',
       '1982-08-16T00:00:00.000000000', '1998-02-15T00:00:00.000000000',
       '1991-07-15T00:00:00.000000000', '1994-06-12T00:00:00.000000000',
       '1984-09-17T00:00:00.000000000', '1975-02-28T00:00:00.000000000',
       '1975-11-22T00:00:00.000000000', '1991-05-24T00:00:00.000000000',
       '1992-06-13T00:00:00.000000000', '1971-07-11T00:00:00.000000000',
       '1986-12-26T00:00:00.000000000', '1987-10-11T00:00:00.000000000',
       '1995-03-14T00:00:00.000000000', '1973-12-01T00:00:00.000000000',
       '2010-12-05T00:00:00.000000000', '1982-08-20T00:00:00.000000000',
       '1995-07-24T00:00:00.000000000', '1983-08-06T00:00:00.000000000',
       '1992-02-22T00:00:00.000000000', '1987-06-28T00:00:00.000000000',
       '1994-07-29T00:00:00.000000000', '1978-08-11T00:00:00.000000000',
       '1991-10-29T00:00:00.000000000', '1991-07-06T00:00:00.000000000',
       '1987-01-21T00:00:00.000000000', '1985-11-03T00:00:00.000000000',
       '1982-07-04T00:00:00.000000000', '1989-04-13T00:00:00.000000000',
       '1977-07-11T00:00:00.000000000', '1974-04-12T00:00:00.000000000',
       '1981-09-19T00:00:00.000000000', '1979-09-06T00:00:00.000000000',
       '1987-12-05T00:00:00.000000000', '1999-01-05T00:00:00.000000000',
       '1980-04-22T00:00:00.000000000', '1998-10-04T00:00:00.000000000',
       '1981-06-29T00:00:00.000000000', '1978-08-04T00:00:00.000000000',
       '1974-07-07T00:00:00.000000000', '2000-09-14T00:00:00.000000000',
       '1971-05-18T00:00:00.000000000', '1981-08-09T00:00:00.000000000',
       '1993-06-05T00:00:00.000000000', '1997-08-09T00:00:00.000000000',
       '1982-12-08T00:00:00.000000000', '1989-08-26T00:00:00.000000000',
       '1995-10-13T00:00:00.000000000', '1991-04-19T00:00:00.000000000',
       '2004-04-08T00:00:00.000000000', '1976-09-20T00:00:00.000000000',
       '1990-12-08T00:00:00.000000000', '1974-04-11T00:00:00.000000000',
       '1986-07-18T00:00:00.000000000', '1991-03-31T00:00:00.000000000',
       '1972-05-13T00:00:00.000000000', '1983-11-14T00:00:00.000000000',
       '1992-08-16T00:00:00.000000000', '1997-10-05T00:00:00.000000000',
       '2002-07-18T00:00:00.000000000', '1982-09-22T00:00:00.000000000',
       '1974-02-24T00:00:00.000000000', '1978-02-03T00:00:00.000000000',
       '2006-02-11T00:00:00.000000000', '1983-08-22T00:00:00.000000000',
       '1974-05-04T00:00:00.000000000', '2011-07-20T00:00:00.000000000',
       '1995-06-17T00:00:00.000000000', '1972-06-10T00:00:00.000000000',
       '1982-10-16T00:00:00.000000000', '1992-12-15T00:00:00.000000000',
       '1997-12-08T00:00:00.000000000', '1989-04-05T00:00:00.000000000',
       '1987-12-04T00:00:00.000000000', '1977-06-20T00:00:00.000000000',
       '2006-04-27T00:00:00.000000000', '1992-07-17T00:00:00.000000000',
       '1998-12-22T00:00:00.000000000', '1996-10-02T00:00:00.000000000',
       '1990-11-05T00:00:00.000000000', '1977-05-04T00:00:00.000000000',
       '1996-02-27T00:00:00.000000000', '2001-01-24T00:00:00.000000000',
       '2004-09-10T00:00:00.000000000', '1982-05-26T00:00:00.000000000',
       '2002-06-28T00:00:00.000000000', '1972-05-06T00:00:00.000000000',
       '1987-10-25T00:00:00.000000000', '1996-10-14T00:00:00.000000000',
       '2007-11-30T00:00:00.000000000', '1994-06-28T00:00:00.000000000',
       '1981-01-14T00:00:00.000000000', '1985-10-10T00:00:00.000000000',
       '1985-02-11T00:00:00.000000000', '1983-02-10T00:00:00.000000000',
       '1992-02-05T00:00:00.000000000', '2012-10-21T00:00:00.000000000',
       '1995-02-14T00:00:00.000000000', '2016-05-30T00:00:00.000000000',
       '1996-01-22T00:00:00.000000000', '1992-10-14T00:00:00.000000000',
       '2003-10-06T00:00:00.000000000', '1999-10-18T00:00:00.000000000',
       '2004-11-11T00:00:00.000000000', '2001-05-30T00:00:00.000000000',
       '1978-02-02T00:00:00.000000000', '1989-09-09T00:00:00.000000000',
       '1980-03-12T00:00:00.000000000', '1990-06-22T00:00:00.000000000',
       '2015-09-28T00:00:00.000000000', '1972-01-13T00:00:00.000000000',
       '1974-03-06T00:00:00.000000000', '1974-10-10T00:00:00.000000000',
       '1974-05-26T00:00:00.000000000', '1990-02-10T00:00:00.000000000',
       '2000-08-23T00:00:00.000000000', '2001-05-26T00:00:00.000000000',
       '2007-10-21T00:00:00.000000000', '2016-10-19T00:00:00.000000000',
       '1974-03-05T00:00:00.000000000', '1994-01-29T00:00:00.000000000',
       '1978-10-21T00:00:00.000000000', '1975-08-18T00:00:00.000000000',
       '1996-11-11T00:00:00.000000000', '1979-10-01T00:00:00.000000000',
       '1986-10-13T00:00:00.000000000', '1995-10-21T00:00:00.000000000',
       '2011-01-24T00:00:00.000000000', '1972-10-04T00:00:00.000000000',
       '1993-08-23T00:00:00.000000000', '2006-10-18T00:00:00.000000000',
       '1988-12-04T00:00:00.000000000', '1983-10-21T00:00:00.000000000',
       '2010-05-26T00:00:00.000000000', '1990-01-18T00:00:00.000000000',
       '1985-06-15T00:00:00.000000000', '1982-12-10T00:00:00.000000000',
       '1988-12-09T00:00:00.000000000', '1995-08-18T00:00:00.000000000',
       '1974-06-13T00:00:00.000000000', '2008-05-26T00:00:00.000000000',
       '2002-11-11T00:00:00.000000000', '1985-08-17T00:00:00.000000000',
       '2016-10-13T00:00:00.000000000', '2008-01-14T00:00:00.000000000',
       '2004-03-12T00:00:00.000000000', '1977-10-21T00:00:00.000000000',
       '2000-08-10T00:00:00.000000000', '1972-11-30T00:00:00.000000000',
       '1993-05-06T00:00:00.000000000', '1995-01-18T00:00:00.000000000',
       '1990-04-11T00:00:00.000000000', '2001-05-30T00:00:00.000000000',
       '1994-02-18T00:00:00.000000000', '1981-02-18T00:00:00.000000000',
       '2013-10-11T00:00:00.000000000', '1986-01-24T00:00:00.000000000',
       '1978-07-26T00:00:00.000000000', '1999-12-23T00:00:00.000000000',
       '1989-05-15T00:00:00.000000000', '1995-09-06T00:00:00.000000000',
       '1976-03-10T00:00:00.000000000', '1983-01-27T00:00:00.000000000',
       '1990-10-23T00:00:00.000000000', '2004-08-12T00:00:00.000000000',
       '2012-09-01T00:00:00.000000000', '1983-07-25T00:00:00.000000000',
       '1989-08-11T00:00:00.000000000', '1992-04-17T00:00:00.000000000',
       '1999-07-24T00:00:00.000000000', '1997-07-11T00:00:00.000000000',
       '1974-09-10T00:00:00.000000000', '1981-08-14T00:00:00.000000000',
       '1988-11-11T00:00:00.000000000', '2011-06-13T00:00:00.000000000',
       '1989-05-14T00:00:00.000000000', '1975-12-14T00:00:00.000000000',
       '2012-06-25T00:00:00.000000000', '1980-10-18T00:00:00.000000000',
       '1998-05-15T00:00:00.000000000', '1974-10-14T00:00:00.000000000',
       '1998-07-25T00:00:00.000000000', '1972-06-15T00:00:00.000000000',
       '1991-01-07T00:00:00.000000000', '2011-09-15T00:00:00.000000000',
       '1985-09-01T00:00:00.000000000', '2011-06-01T00:00:00.000000000',
       '1986-05-01T00:00:00.000000000', '2016-05-01T00:00:00.000000000',
       '1977-07-01T00:00:00.000000000', '1990-07-01T00:00:00.000000000',
       '2003-07-01T00:00:00.000000000', '2015-10-01T00:00:00.000000000',
       '1995-05-01T00:00:00.000000000', '1976-02-01T00:00:00.000000000',
       '1995-01-01T00:00:00.000000000', '1978-02-01T00:00:00.000000000',
       '2011-05-01T00:00:00.000000000', '2004-05-01T00:00:00.000000000',
       '2010-11-01T00:00:00.000000000', '2012-09-01T00:00:00.000000000',
       '2013-01-01T00:00:00.000000000', '1990-11-01T00:00:00.000000000',
       '1981-07-01T00:00:00.000000000', '1983-05-01T00:00:00.000000000',
       '1995-07-01T00:00:00.000000000', '1993-04-01T00:00:00.000000000',
       '2005-05-01T00:00:00.000000000', '1998-12-01T00:00:00.000000000',
       '2007-01-01T00:00:00.000000000', '2016-02-01T00:00:00.000000000',
       '1979-08-01T00:00:00.000000000', '2014-10-01T00:00:00.000000000',
       '1988-08-01T00:00:00.000000000', '2015-09-01T00:00:00.000000000',
       '1976-04-01T00:00:00.000000000', '1979-11-01T00:00:00.000000000',
       '2000-02-01T00:00:00.000000000', '1986-10-01T00:00:00.000000000',
       '2002-06-01T00:00:00.000000000', '1981-09-01T00:00:00.000000000',
       '2007-06-01T00:00:00.000000000', '1989-04-01T00:00:00.000000000',
       '1999-09-01T00:00:00.000000000', '1980-10-01T00:00:00.000000000',
       '2009-12-01T00:00:00.000000000', '1992-07-01T00:00:00.000000000',
       '2006-05-01T00:00:00.000000000', '2008-08-01T00:00:00.000000000',
       '1993-02-01T00:00:00.000000000', '2010-02-01T00:00:00.000000000',
       '1985-04-01T00:00:00.000000000', '1984-09-01T00:00:00.000000000',
       '1986-04-01T00:00:00.000000000', '2007-04-01T00:00:00.000000000',
       '1974-09-01T00:00:00.000000000', '2013-09-01T00:00:00.000000000',
       '1985-07-01T00:00:00.000000000', '2004-08-01T00:00:00.000000000',
       '2012-05-01T00:00:00.000000000', '1977-02-01T00:00:00.000000000',
       '1987-01-01T00:00:00.000000000', '1983-09-01T00:00:00.000000000',
       '2013-01-01T00:00:00.000000000', '2010-03-01T00:00:00.000000000',
       '2009-08-01T00:00:00.000000000', '2007-09-01T00:00:00.000000000',
       '2011-12-01T00:00:00.000000000', '2004-01-01T00:00:00.000000000',
       '1995-11-01T00:00:00.000000000', '2008-09-01T00:00:00.000000000',
       '1983-02-01T00:00:00.000000000', '1983-03-01T00:00:00.000000000',
       '1979-08-01T00:00:00.000000000', '2009-01-01T00:00:00.000000000',
       '1993-01-01T00:00:00.000000000', '1974-03-01T00:00:00.000000000',
       '1994-01-01T00:00:00.000000000', '1992-12-01T00:00:00.000000000',
       '2004-11-01T00:00:00.000000000', '1977-01-01T00:00:00.000000000',
       '2002-03-01T00:00:00.000000000', '2000-02-01T00:00:00.000000000',
       '2004-05-01T00:00:00.000000000', '2006-07-01T00:00:00.000000000',
       '1994-02-01T00:00:00.000000000', '1977-04-01T00:00:00.000000000',
       '1992-10-01T00:00:00.000000000', '1995-02-01T00:00:00.000000000',
       '1989-02-01T00:00:00.000000000', '1978-12-01T00:00:00.000000000',
       '2007-01-01T00:00:00.000000000', '1976-06-01T00:00:00.000000000',
       '2011-05-01T00:00:00.000000000', '1975-03-01T00:00:00.000000000',
       '1978-01-01T00:00:00.000000000', '1975-07-01T00:00:00.000000000',
       '2012-11-01T00:00:00.000000000', '1999-06-02T00:00:00.000000000',
       '1991-10-01T00:00:00.000000000', '1973-03-01T00:00:00.000000000',
       '1996-10-01T00:00:00.000000000', '2007-06-01T00:00:00.000000000',
       '1995-10-01T00:00:00.000000000', '1999-04-01T00:00:00.000000000',
       '2001-05-01T00:00:00.000000000', '2000-03-01T00:00:00.000000000',
       '1988-04-01T00:00:00.000000000', '1993-12-01T00:00:00.000000000',
       '1974-06-01T00:00:00.000000000', '1997-11-01T00:00:00.000000000',
       '1986-07-01T00:00:00.000000000', '1973-02-01T00:00:00.000000000',
       '1978-03-01T00:00:00.000000000', '2007-12-01T00:00:00.000000000',
       '1998-04-01T00:00:00.000000000', '2005-03-01T00:00:00.000000000',
       '1980-05-01T00:00:00.000000000', '2007-11-01T00:00:00.000000000',
       '1976-03-01T00:00:00.000000000', '1998-06-01T00:00:00.000000000',
       '2005-06-01T00:00:00.000000000', '1973-10-01T00:00:00.000000000',
       '2005-09-01T00:00:00.000000000', '1980-03-01T00:00:00.000000000',
       '2005-12-01T00:00:00.000000000', '1987-05-01T00:00:00.000000000',
       '2004-05-01T00:00:00.000000000', '1974-08-01T00:00:00.000000000',
       '1986-03-01T00:00:00.000000000', '1997-10-01T00:00:00.000000000',
       '1993-03-01T00:00:00.000000000', '1981-03-01T00:00:00.000000000',
       '2003-09-01T00:00:00.000000000', '1993-10-01T00:00:00.000000000',
       '1983-01-01T00:00:00.000000000', '1994-07-01T00:00:00.000000000',
       '2008-12-01T00:00:00.000000000', '1980-10-01T00:00:00.000000000',
       '2003-08-01T00:00:00.000000000', '1975-12-01T00:00:00.000000000',
       '2010-11-01T00:00:00.000000000', '1997-07-01T00:00:00.000000000',
       '2014-07-01T00:00:00.000000000', '2001-09-01T00:00:00.000000000',
       '1986-08-01T00:00:00.000000000', '1978-01-01T00:00:00.000000000',
       '1975-09-01T00:00:00.000000000', '2009-01-01T00:00:00.000000000',
       '1995-05-01T00:00:00.000000000', '1989-08-01T00:00:00.000000000',
       '2000-11-01T00:00:00.000000000', '1973-06-01T00:00:00.000000000',
       '1999-02-01T00:00:00.000000000', '2001-06-01T00:00:00.000000000',
       '1978-12-01T00:00:00.000000000', '2009-08-01T00:00:00.000000000',
       '1973-07-01T00:00:00.000000000', '2014-01-01T00:00:00.000000000',
       '1975-09-01T00:00:00.000000000', '2012-12-01T00:00:00.000000000',
       '1999-05-01T00:00:00.000000000', '1989-07-01T00:00:00.000000000',
       '2009-07-01T00:00:00.000000000', '1998-11-01T00:00:00.000000000',
       '1995-03-01T00:00:00.000000000', '2009-02-01T00:00:00.000000000',
       '1988-08-01T00:00:00.000000000', '2007-04-01T00:00:00.000000000',
       '2000-05-01T00:00:00.000000000', '2012-04-01T00:00:00.000000000',
       '2001-10-01T00:00:00.000000000', '1977-02-01T00:00:00.000000000',
       '2008-08-01T00:00:00.000000000', '1983-02-01T00:00:00.000000000',
       '1979-05-01T00:00:00.000000000', '1992-01-01T00:00:00.000000000',
       '2008-11-01T00:00:00.000000000', '2014-12-01T00:00:00.000000000',
       '1974-04-01T00:00:00.000000000', '1981-10-01T00:00:00.000000000',
       '1986-10-01T00:00:00.000000000', '1973-03-01T00:00:00.000000000',
       '1994-12-01T00:00:00.000000000', '1999-08-01T00:00:00.000000000',
       '2010-10-01T00:00:00.000000000', '1994-10-01T00:00:00.000000000',
       '2007-01-01T00:00:00.000000000', '2010-08-01T00:00:00.000000000',
       '1990-03-01T00:00:00.000000000', '2016-11-01T00:00:00.000000000',
       '2004-04-01T00:00:00.000000000', '1973-02-01T00:00:00.000000000',
       '1987-07-01T00:00:00.000000000', '2000-08-01T00:00:00.000000000',
       '1975-08-01T00:00:00.000000000', '1977-05-01T00:00:00.000000000',
       '2000-03-01T00:00:00.000000000', '1984-09-01T00:00:00.000000000',
       '1973-04-01T00:00:00.000000000', '1986-12-01T00:00:00.000000000',
       '1979-04-01T00:00:00.000000000', '2004-07-01T00:00:00.000000000',
       '1984-11-01T00:00:00.000000000', '2016-05-01T00:00:00.000000000',
       '2007-12-01T00:00:00.000000000', '1982-11-01T00:00:00.000000000',
       '1981-06-01T00:00:00.000000000', '2013-04-01T00:00:00.000000000',
       '1999-04-01T00:00:00.000000000', '2006-05-01T00:00:00.000000000',
       '1978-10-01T00:00:00.000000000', '1989-12-01T00:00:00.000000000',
       '1974-02-01T00:00:00.000000000', '1986-11-01T00:00:00.000000000',
       '1983-04-01T00:00:00.000000000', '2014-10-01T00:00:00.000000000',
       '1989-06-01T00:00:00.000000000', '1980-09-01T00:00:00.000000000',
       '1992-09-01T00:00:00.000000000', '2000-09-01T00:00:00.000000000',
       '1981-07-01T00:00:00.000000000', '2008-01-01T00:00:00.000000000',
       '2002-04-01T00:00:00.000000000', '1985-07-01T00:00:00.000000000',
       '2010-05-01T00:00:00.000000000', '2002-08-01T00:00:00.000000000',
       '1994-01-01T00:00:00.000000000', '2004-12-01T00:00:00.000000000',
       '2003-03-01T00:00:00.000000000', '1991-07-01T00:00:00.000000000',
       '1982-07-01T00:00:00.000000000', '1984-01-01T00:00:00.000000000',
       '2000-01-01T00:00:00.000000000', '2001-01-01T00:00:00.000000000',
       '1982-01-01T00:00:00.000000000', '1998-01-01T00:00:00.000000000',
       '2012-01-01T00:00:00.000000000', '1991-01-01T00:00:00.000000000',
       '1988-01-01T00:00:00.000000000', '2014-01-01T00:00:00.000000000',
       '2016-01-01T00:00:00.000000000', '1976-01-01T00:00:00.000000000',
       '1981-01-01T00:00:00.000000000', '2011-01-01T00:00:00.000000000',
       '1997-01-01T00:00:00.000000000', '2003-01-01T00:00:00.000000000',
       '1983-01-01T00:00:00.000000000', '1999-01-01T00:00:00.000000000',
       '2010-01-01T00:00:00.000000000', '1975-01-01T00:00:00.000000000',
       '1972-01-01T00:00:00.000000000', '2015-01-01T00:00:00.000000000',
       '1989-01-01T00:00:00.000000000', '1994-01-01T00:00:00.000000000',
       '1993-01-01T00:00:00.000000000', '1996-01-01T00:00:00.000000000',
       '2013-01-01T00:00:00.000000000', '1974-01-01T00:00:00.000000000',
       '1990-01-01T00:00:00.000000000', '1995-01-01T00:00:00.000000000',
       '2004-01-01T00:00:00.000000000', '1987-01-01T00:00:00.000000000',
       '1973-01-01T00:00:00.000000000', '1992-01-01T00:00:00.000000000',
       '1977-01-01T00:00:00.000000000', '1985-01-01T00:00:00.000000000',
       '2007-01-01T00:00:00.000000000', '2009-01-01T00:00:00.000000000',
       '1986-01-01T00:00:00.000000000', '1978-01-01T00:00:00.000000000',
       '2002-01-01T00:00:00.000000000', '1979-01-01T00:00:00.000000000',
       '2006-01-01T00:00:00.000000000', '2008-01-01T00:00:00.000000000',
       '2005-01-01T00:00:00.000000000', '1980-01-01T00:00:00.000000000'], dtype='datetime64[ns]')

In [15]:
dates_all.sort_values('timestamp').index

Int64Index([  9,  84,   2,  53,  28, 474, 153,  13, 129,  98,
            ...
            152, 235, 464, 253, 427, 231, 141, 186, 161, 413],
           dtype='int64', length=500)

In [16]:
def date_sorter():
    regExp = r'(?:(?:(?:(?P<m1>0*?[1-9]|[1][0-2])\/(?:(?P<d1>[0123]?\d)\/)?)(?P<y1>(?:19|20)?\d{2}))|(?:(?:(?P<m1b>0?[1-9]|[1][0-2])-(?:(?P<d1b>[0123]?\d)-))(?P<y1b>(?:19|20)?\d{2}))|(?:(?P<d2b>\d{1,2}\s{,5})?(?P<m2>(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec))(?:\w*?)[ .,]?(?P<d2>\s{0,5}[0-3]?\d[A-Za-z]{0,2})?[,]?\s{1,5}(?P<y2>(?:19|20)?\d{2}))|(?:(?P<y_only>(?:19|20)\d{2})))(?=\b)'
    dates_all = df.str.extract(regExp)    
    #dates_all = dates_all.xs(0, level='match')
    dates_all.fillna('', inplace=True)
    dates_all['text'] = df
    dates_all['date1'] = dates_all.m1 + '/' + dates_all.d1 + '/' + dates_all.y1
    dates_all['date1b'] = dates_all.m1b + '/' + dates_all.d1b + '/' + dates_all.y1b
    dates_all['date2'] = dates_all.m2 + ' ' + dates_all.d2 + dates_all.d2b + ', ' + dates_all.y2
    dates_all['date3'] = dates_all.y_only
    dates_all['date'] = dates_all[['date1', 'date1b', 'date2', 'date3']].fillna('').sum(axis=1)
    dates_all['date'] = dates_all['date'].map(lambda x: x.lstrip('/, ').rstrip('/, ').replace('//','/'))
    dates_all['timestamp'] = pd.to_datetime(dates_all['date'])
    return pd.Series(dates_all.sort_values('timestamp').index)

In [17]:
date_sorter()

/opt/conda/lib/python3.6/site-packages/ipykernel/__main__.py:3: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  app.launch_new_instance()

0        9
1       84
2        2
3       53
4       28
5      474
6      153
7       13
8      129
9       98
10     111
11     225
12      31
13     171
14     191
15     486
16     335
17     415
18      36
19     405
20     323
21     422
22     375
23     380
24     345
25      57
26     481
27     436
28     104
29     299
      ...
470    220
471    208
472    243
473    139
474    320
475    383
476    244
477    286
478    480
479    431
480    279
481    198
482    381
483    463
484    366
485    439
486    255
487    401
488    475
489    257
490    152
491    235
492    464
493    253
494    427
495    231
496    141
497    186
498    161
499    413
Length: 500, dtype: int64